Portable/Archive
Portable/AutoHotkey/UserScripts/ScientaOmicron.ahk
Portable/CasaXPS
Portable/Ditto/Ditto.db
Portable/GreenshotDeactivatedPlugins
Portable/SpeedCrunch/history.json
Portable/StageControllerGui
Portable/ToDoList/backup
Portable/doublecmd/doublecmd.err
Portable/doublecmd/history.xml
Portable/doublecmd/session.ini
Portable/notepad++/backup
Portable/notepad++/session.xml